sudo: false # run in a docker container
language: rust
rust:
  - stable
  - beta
  - nightly
env:
  - PERL5LIB=~/perl5/lib/perl5
before_install:
  - cpanm --local-lib=~/perl5 --quiet --installdeps --notest .
